about-time==4.2.1 ; python_version >= "3.9" and python_version < "4"
alive-progress==3.2.0 ; python_version >= "3.9" and python_version < "4"
grapheme==0.6.0 ; python_version >= "3.9" and python_version < "4"
joblib==1.4.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
numpy==2.0.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
pandas==2.2.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version < "4.0.0"
pytz==2024.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
scikit-learn==1.5.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
scipy==1.13.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
tzdata==2024.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
